blackbox.egg-info/
__pycache__/
blackbox/__pycache__/
blackbox/analytical_functions/__pycache__
blackbox/physics_models/__pycache__
blackbox/physics_models/airfoil/__pycache__
blackbox/base/__pycache__
blackbox/utils/__pycache__
docs/build
examples/__pycache__
examples/airfoil_adflow/output
examples/airfoil_dafoam/output
examples/simple_wing_adflow/output
examples/crm_adflow/output
examples/crm_dafoam/output
examples/sampling_plan/output
examples/onera_adflow/output